* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Inter, Arial, sans-serif;
    background: linear-gradient(135deg, #f8f1e7, #e8d7c3, #d6bfa9);
    min-height: 100vh;
    padding: 30px;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.app {
    width: 100%;
    max-width: 430px;
}

header {
    text-align: center;
    margin-bottom: 20px;
    color: #5c4033
}

header h1 {
    font-size: 2rem;
}

header p {
    opacity: 8;
}

.card {
    background: rgba(255, 255, 255, 55);
    backdrop-filter: blur(15px);
    padding: 20px;
    border-radius: 24px;
    box-shadow: 0 15px 35px rgba(92, 64,51, 12);
    margin-bottom: 16px;
    border: 1px solid rgba(255, 255, 255, 4);
}

.hero {
    background: linear-gradient(135deg, #c8a98d, #b08968);
    color: #fff;
}

.hero h2 {
    margin-bottom: 8px;
}

input, select, button {
    width: 100%;
    padding: 14px;
    margin-top: 10px;
    border: none;
    border-radius: 16px;
    font-size: 1rem;
}

input, select {
    background: #fff;
    color: #5c4033;
}

button {
    background: linear-gradient(135deg, #8b5e3c, #6f4e37);
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    transition: .2s;
}

button:hover {
    transform: translateY(-2px);
}

#message {
    margin-top: 10px;
    color: #6f4e37;
    font-weight: 600;
}

.stats {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
}

.stat {
    text-align: center;
}

.stat span {
    font-size: .8rem;
    color: #7a5c4d;
}

.stat strong {
    display: block;
    font-size: 1.25rem;
    color: #5c40333;
    margin-top: 6px;
}
